.inputplus {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputplus.frame {
    width:240px;
    height:40px;
    border-radius: 3px;
    border:1px solid rgb(140, 140, 140);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(250, 250, 250);
    padding: 0px;
    transition: outline 0.1s;
    align-items: center;
}

.inputplus.frame:focus-within {
    outline: 2px solid rgb(186, 185, 185,0.5);
}

.inputplus.label {
    vertical-align: center;
    text-align: center;
    font-size: 16px;
    height: 40px;
    margin: 0px;
    margin-right: 4px;
    width: 100px;
    overflow: hidden;
    border:0px;
    border-right: 1px solid rgb(140, 140, 140);
    background-color:rgb(242, 242, 242) ;
    border-radius: 2px;
    order: 0;
    transition: background-color 0.1s, height 0.15s, margin 0.15s, border 0.15s;
}

.inputplus.label.isMulti {

}

.inputplus.label.isMulti:hover {
    border: 1px solid rgb(140, 140, 140);
    margin:2px;
    height: 34px;
    cursor: pointer;
    background-color: rgb(244, 244, 244);
}   


.inputplus.button:active {
    background-color: rgb(231, 230, 230);
}

input.inputplus {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    height:38px;
    order:1;
    border:0px;
}

input.inputplus:focus {
    outline: none;
}